POSTGRES_USER=fila
POSTGRES_PASSWORD=fila
POSTGRES_DB=fila_emergencia
DATABASE_URL=postgres://fila:fila@db:5432/fila_emergencia
PORT=3000
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
